<div class="container" id="theory-container">
  <div class="row">
    <div class="col-10 offset-1">
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title" id="other-title"><span role="img" aria-label="Alien face">&#x1F47D;</span> 404 Not Found
            <span role="img" aria-label="Alien face">&#128125;</span></h4>
        </div>
      </div>
      <a href="/">← Back To Home</a>
    </div>
  </div>
</div>