<div class="container" id="theory-container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Theory<i class="fas fa-eye hidden"></i><i class="fas fa-eye hidden"></i></h5>
          <p>
            <strong>ID</strong>: {{example.id}}</p>
          <p>
          <p>
            <strong>Title</strong>: {{title.text}}</p>
          <p>
          <p>
            <strong>Description</strong>: {{theory.description}}</p>
          <p>
          <p>
            <strong>Source</strong>: </p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
